/* Use this stylesheet for print styles only. */
/* line 2, ../sass/print.scss */
* {
  background-color: transparent;
}

/* line 13, ../sass/print.scss */
.sidebar,
#navigation,
#header-region,
#search-theme-form,
#footer,
.breadcrumb,
.tabs,
.feed-icon,
.links {
  display: none;
}

/* line 17, ../sass/print.scss */
#page {
  width: 100%;
}

/* line 24, ../sass/print.scss */
#content,
#content #content-inner,
.content,
.title {
  margin: 20px 0;
  width: auto;
}

/* line 32, ../sass/print.scss */
a:hover, a:active, a:link, a:visited {
  color: black;
}

/* CSS2 selector to add visible href after links. */
/* line 39, ../sass/print.scss */
#content a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 0.8em;
  font-weight: normal;
}
