/* line 14, ../sass/_defaults.scss */
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 25, ../sass/_defaults.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 31, ../sass/_defaults.scss */
audio:not([controls]) {
  display: none;
}

/* line 35, ../sass/_defaults.scss */
[hidden] {
  display: none;
}

/* line 42, ../sass/_defaults.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 48, ../sass/_defaults.scss */
html, button, input, select, textarea {
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #222222;
}

/* line 53, ../sass/_defaults.scss */
body {
  margin: 0;
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

/* line 66, ../sass/_defaults.scss */
::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* line 71, ../sass/_defaults.scss */
::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* line 80, ../sass/_defaults.scss */
a {
  color: blue;
}
/* line 84, ../sass/_defaults.scss */
a:visited {
  color: blue;
}
/* line 87, ../sass/_defaults.scss */
a:hover {
  color: red;
}
/* line 90, ../sass/_defaults.scss */
a:focus {
  color: red;
  outline: thin dotted;
}
/* line 94, ../sass/_defaults.scss */
a:hover, a:active {
  color: red;
  text-decoration: underline;
  outline: 0;
}

/* line 104, ../sass/_defaults.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: black;
}

/* line 109, ../sass/_defaults.scss */
h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 116, ../sass/_defaults.scss */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 122, ../sass/_defaults.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 127, ../sass/_defaults.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 132, ../sass/_defaults.scss */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 138, ../sass/_defaults.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 143, ../sass/_defaults.scss */
p {
  margin: 0 0 1em 0;
}

/* line 147, ../sass/_defaults.scss */
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* line 153, ../sass/_defaults.scss */
b, strong {
  font-weight: bold;
}

/* line 157, ../sass/_defaults.scss */
blockquote {
  margin: 1em 40px;
}

/* line 161, ../sass/_defaults.scss */
dfn {
  font-style: italic;
}

/* line 165, ../sass/_defaults.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 174, ../sass/_defaults.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 180, ../sass/_defaults.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 187, ../sass/_defaults.scss */
pre, code, kbd, samp, tt {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 193, ../sass/_defaults.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
}

/* line 204, ../sass/_defaults.scss */
q {
  quotes: none;
}

/* line 208, ../sass/_defaults.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 213, ../sass/_defaults.scss */
small {
  font-size: 85%;
}

/* line 217, ../sass/_defaults.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 224, ../sass/_defaults.scss */
sup {
  top: -0.5em;
}

/* line 228, ../sass/_defaults.scss */
sub {
  bottom: -0.25em;
}

/* line 235, ../sass/_defaults.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

/* line 240, ../sass/_defaults.scss */
dd {
  margin: 0 0 0 2em;
}

/* line 244, ../sass/_defaults.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 251, ../sass/_defaults.scss */
ul {
  list-style-type: disc;
}
/* line 253, ../sass/_defaults.scss */
ul ul {
  list-style-type: circle;
}
/* line 255, ../sass/_defaults.scss */
ul ul ul {
  list-style-type: square;
}
/* line 257, ../sass/_defaults.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 264, ../sass/_defaults.scss */
ol {
  list-style-type: decimal;
}
/* line 266, ../sass/_defaults.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 268, ../sass/_defaults.scss */
ol ol ol {
  list-style-type: decimal;
}

/* line 277, ../sass/_defaults.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 283, ../sass/_defaults.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 290, ../sass/_defaults.scss */
figure {
  margin: 0;
}

/* line 297, ../sass/_defaults.scss */
form {
  margin: 0;
}

/* line 301, ../sass/_defaults.scss */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 305, ../sass/_defaults.scss */
label {
  cursor: pointer;
}

/* line 309, ../sass/_defaults.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 316, ../sass/_defaults.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 323, ../sass/_defaults.scss */
button, input {
  line-height: normal;
}

/* line 331, ../sass/_defaults.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 337, ../sass/_defaults.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 342, ../sass/_defaults.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 349, ../sass/_defaults.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 357, ../sass/_defaults.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 362, ../sass/_defaults.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 367, ../sass/_defaults.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 377, ../sass/_defaults.scss */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

/* line 384, ../sass/_defaults.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 99%;
}

/* line 390, ../sass/_defaults.scss */
td {
  vertical-align: top;
}

/* line 396, ../sass/_defaults.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 401, ../sass/_defaults.scss */
tr.odd {
  background-color: white;
}

/* line 408, ../sass/_defaults.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* line 432, ../sass/_defaults.scss */
.wireframe-mode #header,
.wireframe-mode #content-top,
.wireframe-mode #content-top > *,
.wireframe-mode #content-header,
.wireframe-mode #content-header > *,
.wireframe-mode #content-area,
.wireframe-mode #content-area > *,
.wireframe-mode #content-bottom,
.wireframe-mode #content-bottom > *,
.wireframe-mode #primary,
.wireframe-mode #secondary,
.wireframe-mode #sidebar-left-inner,
.wireframe-mode #sidebar-right-inner,
.wireframe-mode .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
/* line 436, ../sass/_defaults.scss */
.wireframe-mode .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
/* line 440, ../sass/_defaults.scss */
.wireframe-mode .block {
  margin-bottom: 3px;
}
/* line 446, ../sass/_defaults.scss */
.wireframe-mode #content-top,
.wireframe-mode #content-header,
.wireframe-mode #content-area,
.wireframe-mode #content-bottom {
  margin: 0 3px 3px;
}
/* line 449, ../sass/_defaults.scss */
.wireframe-mode #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
/* line 456, ../sass/_defaults.scss */
.wireframe-mode .with-navigation #content,
.wireframe-mode .with-navigation .sidebar {
  margin-top: 50px;
}
/* line 460, ../sass/_defaults.scss */
.wireframe-mode #navigation {
  height: 50px;
}

/* line 20, ../sass/_layout.scss */
#page {
  width: 960px;
  margin: 0 auto;
}

/* line 25, ../sass/_layout.scss */
body, #page {
  height: 100%;
}

/* line 29, ../sass/_layout.scss */
#main {
  padding-bottom: 80px;
  position: relative;
}

/* line 34, ../sass/_layout.scss */
#skip a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
/* line 50, ../sass/_mixins.scss */
#skip a:active, #skip a:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

/* line 42, ../sass/_layout.scss */
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

/* line 49, ../sass/_layout.scss */
.sidebar {
  float: left;
}

/* line 53, ../sass/_layout.scss */
#sidebar-second {
  float: right;
}

/* line 57, ../sass/_layout.scss */
#footer {
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 960px;
  float: none;
  clear: both;
}

/* line 73, ../sass/_layout.scss */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* line 82, ../sass/_layout.scss */
.two-sidebars .center,
.sidebar-first .center {
  margin-left: 19.792%;
}

/* line 87, ../sass/_layout.scss */
#sidebar-first {
  width: 19.792%;
  margin-right: -190px;
}

/* line 94, ../sass/_layout.scss */
.two-sidebars .center,
.sidebar-second .center {
  margin-right: 200px;
}

/* line 99, ../sass/_layout.scss */
#sidebar-second {
  width: 200px;
}

/* line 109, ../sass/_layout.scss */
.inner {
  padding: 0;
}

/* line 120, ../sass/_layout.scss */
#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
  height: 40px;
}

/* line 132, ../sass/_layout.scss */
.with-navigation #content,
.with-navigation .sidebar {
  margin-top: 40px;
}

/* line 13, ../sass/_custom.scss */
body {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 700, color-stop(0%, #aeaeae), color-stop(100%, #ffffff));
  background-image: -webkit-radial-gradient(50% 50%, #aeaeae 0px, #ffffff 700px);
  background-image: -moz-radial-gradient(50% 50%, #aeaeae 0px, #ffffff 700px);
  background-image: -o-radial-gradient(50% 50%, #aeaeae 0px, #ffffff 700px);
  background-image: -ms-radial-gradient(50% 50%, #aeaeae 0px, #ffffff 700px);
  background-image: radial-gradient(50% 50%, #aeaeae 0px, #ffffff 700px);
}

/* line 17, ../sass/_custom.scss */
#header {
  background: #333333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeaeae), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#aeaeae, #ffffff);
  background-image: -moz-linear-gradient(#aeaeae, #ffffff);
  background-image: -o-linear-gradient(#aeaeae, #ffffff);
  background-image: -ms-linear-gradient(#aeaeae, #ffffff);
  background-image: linear-gradient(#aeaeae, #ffffff);
}

/* line 22, ../sass/_custom.scss */
#main {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, color-stop(0%, #aeaeae), color-stop(100%, #ffffff));
  background-image: -webkit-radial-gradient(50% 50%, #aeaeae 0px, #ffffff 300px);
  background-image: -moz-radial-gradient(50% 50%, #aeaeae 0px, #ffffff 300px);
  background-image: -o-radial-gradient(50% 50%, #aeaeae 0px, #ffffff 300px);
  background-image: -ms-radial-gradient(50% 50%, #aeaeae 0px, #ffffff 300px);
  background-image: radial-gradient(50% 50%, #aeaeae 0px, #ffffff 300px);
}

/* line 26, ../sass/_custom.scss */
#sidebar-first {
  background: #e7edff;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #aeaeae), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #aeaeae, #ffffff);
  background-image: -moz-linear-gradient(left, #aeaeae, #ffffff);
  background-image: -o-linear-gradient(left, #aeaeae, #ffffff);
  background-image: -ms-linear-gradient(left, #aeaeae, #ffffff);
  background-image: linear-gradient(left, #aeaeae, #ffffff);
}

/* line 31, ../sass/_custom.scss */
#sidebar-second {
  background: #ffd075;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #aeaeae));
  background-image: -webkit-linear-gradient(left, #ffffff, #aeaeae);
  background-image: -moz-linear-gradient(left, #ffffff, #aeaeae);
  background-image: -o-linear-gradient(left, #ffffff, #aeaeae);
  background-image: -ms-linear-gradient(left, #ffffff, #aeaeae);
  background-image: linear-gradient(left, #ffffff, #aeaeae);
}

/* line 36, ../sass/_custom.scss */
#navigation {
  background: #feffa5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aeaeae), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#aeaeae, #ffffff);
  background-image: -moz-linear-gradient(#aeaeae, #ffffff);
  background-image: -o-linear-gradient(#aeaeae, #ffffff);
  background-image: -ms-linear-gradient(#aeaeae, #ffffff);
  background-image: linear-gradient(#aeaeae, #ffffff);
}
/* line 39, ../sass/_custom.scss */
#navigation ul {
  margin: 0px;
  float: left;
  padding: 0px;
}
/* line 44, ../sass/_custom.scss */
#navigation li {
  list-style: none;
  margin: 5px;
  float: left;
}

/* line 51, ../sass/_custom.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 59, ../sass/_custom.scss */
#footer {
  background: #efefef;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #aeaeae));
  background-image: -webkit-linear-gradient(#ffffff, #aeaeae);
  background-image: -moz-linear-gradient(#ffffff, #aeaeae);
  background-image: -o-linear-gradient(#ffffff, #aeaeae);
  background-image: -ms-linear-gradient(#ffffff, #aeaeae);
  background-image: linear-gradient(#ffffff, #aeaeae);
}
/* line 62, ../sass/_custom.scss */
#footer p {
  margin: 0px;
}

/* line 68, ../sass/_custom.scss */
div.view div.views-admin-links {
  width: auto;
}

/* line 73, ../sass/_custom.scss */
div.block {
  position: relative;
}
/* line 75, ../sass/_custom.scss */
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
/* line 91, ../sass/_custom.scss */
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 98, ../sass/_custom.scss */
div.block:hover .edit {
  display: block;
}

/* line 106, ../sass/_custom.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 111, ../sass/_custom.scss */
#system-themes-form img {
  width: 100px;
}

/* line 115, ../sass/_custom.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777;
}

/* line 123, ../sass/_custom.scss */
#edit-delete {
  color: #c00;
}

/* line 127, ../sass/_custom.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}

/* line 135, ../sass/_custom.scss */
div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}

/* line 141, ../sass/_custom.scss */
div.error {
  color: white;
  background: #e63;
  border-color: #d52;
}

/* line 147, ../sass/_custom.scss */
div.status {
  color: #360;
  background: #cf8;
  border-color: #bbee77;
}

/* line 157, ../sass/_custom.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 167, ../sass/_custom.scss */
.ir br {
  display: none;
}

/* line 172, ../sass/_custom.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 177, ../sass/_custom.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
/* line 179, ../sass/_custom.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

/* line 184, ../sass/_custom.scss */
.invisible {
  visibility: hidden;
}

/* line 188, ../sass/_custom.scss */
.clearfix {
  *zoom: 1;
}
/* line 57, ../sass/_mixins.scss */
.clearfix:before {
  content: "";
  display: table;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 193, ../sass/_custom.scss */
.clearleft, .clearl, .cleft {
  clear: left;
}

/* line 196, ../sass/_custom.scss */
.clearright, .clearr, .cright {
  clear: right;
}

/* line 200, ../sass/_custom.scss */
.clear, .clearboth, .clearall {
  clear: both;
}

/* line 205, ../sass/_custom.scss */
.floatleft, .fleft, .floatl {
  display: inline;
  float: left;
  margin: 0 10px 5px 0;
}

/* line 209, ../sass/_custom.scss */
.floatright, .fright, .floatr {
  display: inline;
  float: right;
  margin: 0 0 5px 10px;
}

@media screen and (max-width : 480px) {
  /* line 13, ../sass/_mobile.scss */
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0px;
  }

  /* line 20, ../sass/_mobile.scss */
  #page {
    width: 100%;
    margin: 40px 0px 0px 0px;
  }

  /* line 25, ../sass/_mobile.scss */
  .sidebar, #sidebar-first, #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
    padding: 5px;
  }

  /* line 33, ../sass/_mobile.scss */
  .with-navigation #content {
    margin-top: 0px;
  }

  /* line 37, ../sass/_mobile.scss */
  #navigation {
    clear: both;
    padding: 5px;
    position: absolute;
    top: 0px;
  }

  /* line 44, ../sass/_mobile.scss */
  #footer {
    position: relative;
    width: 100%;
  }

  /* line 49, ../sass/_mobile.scss */
  #main {
    padding-bottom: 0px;
    position: static;
  }

  /* line 54, ../sass/_mobile.scss */
  #content #content-inner.center {
    margin: 0px;
    padding: 5px;
  }

  /* line 59, ../sass/_mobile.scss */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }

  /* line 69, ../sass/_mobile.scss */
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  /* line 73, ../sass/_mobile.scss */
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }

  /* line 79, ../sass/_mobile.scss */
  img {
    border: 0;
    max-width: 100%;
  }

  /* line 84, ../sass/_mobile.scss */
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@media screen and (max-width: 800px) {
  /* line 95, ../sass/_mobile.scss */
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0px;
  }

  /* line 101, ../sass/_mobile.scss */
  #page {
    width: 100%;
  }

  /* line 104, ../sass/_mobile.scss */
  #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
    padding: 5px;
  }

  /*
  #navigation {
    clear:both;
    height:auto;
    padding:5px;
  }
  */
  /* line 118, ../sass/_mobile.scss */
  #footer {
    position: relative;
    width: 100%;
  }

  /* line 122, ../sass/_mobile.scss */
  #main {
    padding-bottom: 0px;
  }

  /* line 125, ../sass/_mobile.scss */
  body {
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }

  /* line 130, ../sass/_mobile.scss */
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }

  /* line 135, ../sass/_mobile.scss */
  img {
    border: 0;
    max-width: 100%;
  }

  /* line 139, ../sass/_mobile.scss */
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@media print {
  /* line 10, ../sass/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 19, ../sass/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 23, ../sass/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../sass/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 33, ../sass/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 37, ../sass/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 42, ../sass/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 46, ../sass/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 50, ../sass/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 58, ../sass/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 63, ../sass/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* line 75, ../sass/_print.scss */
  .sidebar,
  #navigation,
  #header-region,
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
    display: none;
  }

  /* line 79, ../sass/_print.scss */
  #page {
    width: 100%;
  }

  /* line 86, ../sass/_print.scss */
  #content,
  #content #content-inner,
  .content,
  .title {
    margin: 20px 0;
    width: auto;
  }

  /* line 95, ../sass/_print.scss */
  a:hover, a:active, a:link, a:visited {
    color: black;
  }

  /* line 101, ../sass/_print.scss */
  #content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
}
/* line 13, ../sass/_ie7.scss */
.lt-ie8 #content tr.even th,
.lt-ie8 #content tr.even td,
.lt-ie8 #content tr.odd th,
.lt-ie8 #content tr.odd td {
  border-bottom: 1px solid #cccccc;
}

/* line 23, ../sass/_ie7.scss */
.lt-ie8 ul.primary li a:hover,
.lt-ie8 ul.secondary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none;
}

/* line 12, ../sass/_ie6.scss */
.lt-ie7 div.admin .left,
.lt-ie7 div.admin .right {
  width: 46%;
}

/* line 21, ../sass/_ie6.scss */
.lt-ie7 ul.primary,
.lt-ie7 ul.secondary {
  width: 100%;
  width: auto;
}
/* line 25, ../sass/_ie6.scss */
.lt-ie7 ul.primary li a,
.lt-ie7 ul.primary li a .tab,
.lt-ie7 ul.secondary li a,
.lt-ie7 ul.secondary li a .tab {
  display: inline;
  display: inline-block;
}

/* line 33, ../sass/_ie6.scss */
.lt-ie7 ul.primary li a {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left -38px;
}
/* line 35, ../sass/_ie6.scss */
.lt-ie7 ul.primary li a .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right -38px;
}
/* line 38, ../sass/_ie6.scss */
.lt-ie7 ul.primary li a:hover {
  background-position: left -76px;
}
/* line 40, ../sass/_ie6.scss */
.lt-ie7 ul.primary li a:hover .tab {
  background-position: right -76px;
}
/* line 46, ../sass/_ie6.scss */
.lt-ie7 ul.primary li.active a, .lt-ie7 ul.primary li.active a:hover {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left 0;
}
/* line 48, ../sass/_ie6.scss */
.lt-ie7 ul.primary li.active a .tab, .lt-ie7 ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right 0;
}
