@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000314}}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003114}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000325}}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000331}}
audio:not([controls]) {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000335}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000342}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000348}}
html, button, input, select, textarea {
  font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
  color: #222222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000353}}
body {
  margin: 0;
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000366}}
::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000371}}
::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000380}}
a {
  color: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000384}}
a:visited {
  color: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000387}}
a:hover {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000390}}
a:focus {
  color: red;
  outline: thin dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\0000394}}
a:hover, a:active {
  color: red;
  text-decoration: underline;
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003104}}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003109}}
h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003116}}
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003122}}
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003127}}
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003132}}
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003138}}
h6 {
  font-size: 1em;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003143}}
p {
  margin: 0 0 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003147}}
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003153}}
b, strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003157}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003161}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003165}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003174}}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003180}}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003187}}
pre, code, kbd, samp, tt {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003193}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003204}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003208}}
q:before, q:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003213}}
small {
  font-size: 85%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003217}}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003224}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003228}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003235}}
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003240}}
dd {
  margin: 0 0 0 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003244}}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003251}}
ul {
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003253}}
ul ul {
  list-style-type: circle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003255}}
ul ul ul {
  list-style-type: square;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003257}}
ul ul ul ul {
  list-style-type: circle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003264}}
ol {
  list-style-type: decimal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003266}}
ol ol {
  list-style-type: lower-alpha;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003268}}
ol ol ol {
  list-style-type: decimal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003277}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003283}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003290}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003297}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003301}}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003305}}
label {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003309}}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003316}}
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003323}}
button, input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003331}}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003337}}
button[disabled], input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003342}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003349}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003357}}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003362}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003367}}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003377}}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003384}}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 99%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003390}}
td {
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003396}}
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003401}}
tr.odd {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003408}}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003432}}
.wireframe-mode #header,
.wireframe-mode #content-top,
.wireframe-mode #content-top > *,
.wireframe-mode #content-header,
.wireframe-mode #content-header > *,
.wireframe-mode #content-area,
.wireframe-mode #content-area > *,
.wireframe-mode #content-bottom,
.wireframe-mode #content-bottom > *,
.wireframe-mode #primary,
.wireframe-mode #secondary,
.wireframe-mode #sidebar-left-inner,
.wireframe-mode #sidebar-right-inner,
.wireframe-mode .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003436}}
.wireframe-mode .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003440}}
.wireframe-mode .block {
  margin-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003446}}
.wireframe-mode #content-top,
.wireframe-mode #content-header,
.wireframe-mode #content-area,
.wireframe-mode #content-bottom {
  margin: 0 3px 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003449}}
.wireframe-mode #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003456}}
.wireframe-mode .with-navigation #content,
.wireframe-mode .with-navigation .sidebar {
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_defaults\.scss}line{font-family:\00003460}}
.wireframe-mode #navigation {
  height: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000320}}
#page {
  width: 960px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000325}}
body, #page {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000329}}
#main {
  padding-bottom: 80px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000334}}
#skip a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mixins\.scss}line{font-family:\0000350}}
#skip a:active, #skip a:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000342}}
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000349}}
.sidebar {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000353}}
#sidebar-second {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000357}}
#footer {
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 960px;
  float: none;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000373}}
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000382}}
.two-sidebars .center,
.sidebar-first .center {
  margin-left: 19.792%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000387}}
#sidebar-first {
  width: 19.792%;
  margin-right: -190px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000394}}
.two-sidebars .center,
.sidebar-second .center {
  margin-right: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\0000399}}
#sidebar-second {
  width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\00003109}}
.inner {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\00003120}}
#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
  height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_layout\.scss}line{font-family:\00003132}}
.with-navigation #content,
.with-navigation .sidebar {
  margin-top: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000318}}
#header,
#sidebar-first,
#sidebar-second,
#navigation,
#footer {
  padding: 40px 10px;
  border: 1px dotted #888888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000327}}
#header {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000335}}
#sidebar-first {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000339}}
#sidebar-second {
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000343}}
#navigation {
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000345}}
#navigation ul {
  margin: 0px;
  float: left;
  padding: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000350}}
#navigation li {
  list-style: none;
  margin: 5px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000357}}
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000365}}
#footer {
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000367}}
#footer p {
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000373}}
div.view div.views-admin-links {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000378}}
div.block {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000380}}
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\0000396}}
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003103}}
div.block:hover .edit {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003111}}
#edit-title {
  font-size: 24px;
  width: 99%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003116}}
#system-themes-form img {
  width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003120}}
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003128}}
#edit-delete {
  color: #c00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003132}}
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003140}}
div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003146}}
div.error {
  color: white;
  background: #e63;
  border-color: #d52;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003152}}
div.status {
  color: #360;
  background: #cf8;
  border-color: #bbee77;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003162}}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003172}}
.ir br {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003177}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003182}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003184}}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003189}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003193}}
.clearfix {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mixins\.scss}line{font-family:\0000357}}
.clearfix:before {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003198}}
.clearleft, .clearl, .cleft {
  clear: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003201}}
.clearright, .clearr, .cright {
  clear: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003205}}
.clear, .clearboth, .clearall {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003210}}
.floatleft, .fleft, .floatl {
  display: inline;
  float: left;
  margin: 0 10px 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_custom\.scss}line{font-family:\00003214}}
.floatright, .fright, .floatr {
  display: inline;
  float: right;
  margin: 0 0 5px 10px;
}

@media screen and (max-width : 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000313}}
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000320}}
  #page {
    width: 100%;
    margin: 40px 0px 0px 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000325}}
  .sidebar, #sidebar-first, #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
    padding: 5px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000333}}
  .with-navigation #content {
    margin-top: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000337}}
  #navigation {
    clear: both;
    padding: 5px;
    position: absolute;
    top: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000344}}
  #footer {
    position: relative;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000349}}
  #main {
    padding-bottom: 0px;
    position: static;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000354}}
  #content #content-inner.center {
    margin: 0px;
    padding: 5px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000359}}
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000369}}
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000373}}
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000379}}
  img {
    border: 0;
    max-width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000384}}
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\0000395}}
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\00003101}}
  #page {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\00003104}}
  #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
    padding: 5px;
  }

  /*
  #navigation {
    clear:both;
    height:auto;
    padding:5px;
  }
  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\00003118}}
  #footer {
    position: relative;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\00003122}}
  #main {
    padding-bottom: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\00003125}}
  body {
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\00003130}}
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\00003135}}
  img {
    border: 0;
    max-width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_mobile\.scss}line{font-family:\00003139}}
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000310}}
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000319}}
  a, a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000323}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000327}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000333}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000337}}
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000342}}
  thead {
    display: table-header-group;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000346}}
  tr, img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000350}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000358}}
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000363}}
  h2, h3 {
    page-break-after: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000375}}
  .sidebar,
  #navigation,
  #header-region,
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000379}}
  #page {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000386}}
  #content,
  #content #content-inner,
  .content,
  .title {
    margin: 20px 0;
    width: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\0000395}}
  a:hover, a:active, a:link, a:visited {
    color: black;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_print\.scss}line{font-family:\00003101}}
  #content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie7\.scss}line{font-family:\0000313}}
.lt-ie8 #content tr.even th,
.lt-ie8 #content tr.even td,
.lt-ie8 #content tr.odd th,
.lt-ie8 #content tr.odd td {
  border-bottom: 1px solid #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie7\.scss}line{font-family:\0000323}}
.lt-ie8 ul.primary li a:hover,
.lt-ie8 ul.secondary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie6\.scss}line{font-family:\0000312}}
.lt-ie7 div.admin .left,
.lt-ie7 div.admin .right {
  width: 46%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie6\.scss}line{font-family:\0000321}}
.lt-ie7 ul.primary,
.lt-ie7 ul.secondary {
  width: 100%;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie6\.scss}line{font-family:\0000325}}
.lt-ie7 ul.primary li a,
.lt-ie7 ul.primary li a .tab,
.lt-ie7 ul.secondary li a,
.lt-ie7 ul.secondary li a .tab {
  display: inline;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie6\.scss}line{font-family:\0000333}}
.lt-ie7 ul.primary li a {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left -38px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie6\.scss}line{font-family:\0000335}}
.lt-ie7 ul.primary li a .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right -38px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie6\.scss}line{font-family:\0000338}}
.lt-ie7 ul.primary li a:hover {
  background-position: left -76px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie6\.scss}line{font-family:\0000340}}
.lt-ie7 ul.primary li a:hover .tab {
  background-position: right -76px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie6\.scss}line{font-family:\0000346}}
.lt-ie7 ul.primary li.active a, .lt-ie7 ul.primary li.active a:hover {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/aarona\/Sites\/boilerplate\/drupal\/sites\/all\/themes\/boilerplate\/sass\/_ie6\.scss}line{font-family:\0000348}}
.lt-ie7 ul.primary li.active a .tab, .lt-ie7 ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right 0;
}
