////////////////////////////////////////////////////////////////////////////////
// Custom Styles
// --------------------
// This partial defines the styles for page elements. Most custom
// styling should go here.
//
// Styling of standard HTML elements (paragraphs, headers, lists, etc...) can 
// be found in _defaults.scss.
//
// Positioning of major page elements can be found in _layout.scss. 
////////////////////////////////////////////////////////////////////////////////

// Remove this selector when you're ready to start theming.
#header,
#sidebar-first,
#sidebar-second,
#navigation,
#footer {
  padding: 40px 10px;
  border: $border;
}

body {

}

#header {
  background: $header_bg;
}

#main {

}

#sidebar-first {
  background: $sidebar_first_bg;
}

#sidebar-second {
  background: $sidebar_second_bg;
}

#navigation {
  background: $navigation_bg;
  ul {
    margin: 0px;
    float: left;
    padding: 0px;
  }
  li {
    list-style: none;
    margin: 5px;
    float: left;
  }
}

#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

#footer {
  background: $footer_bg;
  p {
    margin:0px;
  }
}

// Bug fix for views 2 edit links.
div.view div.views-admin-links {
  width: auto;
}

// Rollover edit links for blocks.
div.block {
  position: relative;
  .edit {
    display: none;
    position: absolute;
    right: -20px;
    top: -5px;
    z-index: 40;
    padding: 3px 8px 0;
    font-size: 10px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #cccccc;
    // let's get fancy!
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #888888;
    -webkit-box-shadow: -1px 1px 2px #666666;
    a {
      display: block;
      border: 0;
      padding: 0;
      margin: 0;
    }
  }  
  &:hover .edit {
    display: block
  }
}

//
// UI improvments.
//
#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777;
}

#edit-delete {
  color: #c00;
}

div.messages { // Console, style from slate theme.
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}

div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}

div.error {
  color: white;
  background: #e63;
  border-color: #d52;
}

div.status {
  color: #360;
  background: #cf8;
  border-color: #bbee77;
}

//
// Non-semantic Helper Classes
////////////////////////////////////////

.ir { // For image replacement
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
  br {
    display: none;
  }
}

.hidden { // Hide from both screenreaders and browsers: h5bp.com/u
  display: none !important;
  visibility: hidden;
}

.visuallyhidden { // Hide only visually, but have it available for screenreaders: h5bp.com/v
  @include element-invisible;
  &.focusable:active, &.focusable:focus { // Allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
    @include element-invisible-off;
  }
}

.invisible { // Hide visually and from screenreaders, but maintain layout
  visibility: hidden;
}

.clearfix { // Contain floats: h5bp.com/q
  @include my-clearfix;
}

// clear classes
.clearleft, .clearl, .cleft {
  clear: left;
}
.clearright, .clearr, .cright {
  clear: right;
}

.clear, .clearboth, .clearall {
  clear: both;
}

// Float classes
.floatleft, .fleft, .floatl {
  @include my-float-left;
}

.floatright, .fright, .floatr {
  @include my-float-right;
}
