////////////////////////////////////////////////////////////////////////////////
// Mobile Styles
// --------------------
// This partial defines styles to be used when a page is printed. The styles are
// included in the main style sheet to avoid an unnecessary HTTP connection: 
// h5bp.com/r
////////////////////////////////////////////////////////////////////////////////

//
// iPhone and smart phone Styling
////////////////////////////////////////
@media screen and (max-width : 480px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0px;
  }

  #page {
    width: 100%;
    margin: $navigation_height 0px 0px 0px;
  }

  .sidebar, #sidebar-first, #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
    padding: 5px;
  }

  .with-navigation #content {
    margin-top: 0px;
  }

  #navigation {
    clear: both;
    padding: 5px;
    position: absolute;
    top: 0px;
  }

  #footer {
    position: relative;
    width: 100%;
  }

  #main {
    padding-bottom: 0px;
    position: static;
  }

  #content #content-inner.center {
    margin: 0px;
    padding: 5px;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }

  img {
    border: 0;
    max-width: 100%;
  }

  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

//
// Netbook Styling
////////////////////////////////////////
@media screen and (max-width: 800px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    padding: 0px;
  }
  #page {
    width: 100%;
  }
  #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
    padding: 5px;
  }
  /*
  #navigation {
    clear:both;
    height:auto;
    padding:5px;
  }
  */
  #footer {
    position: relative;
    width: 100%;
  }
  #main {
    padding-bottom: 0px;
  }
  body {
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }
  img {
    border: 0;
    max-width: 100%;
  }
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}
