@import "_variables.scss";
@import "_mixins.scss";

/* Layout
  ------
  Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
  
  1. Header
  2. Content
  3. Navigation menus
  4. Sidebar Left
  5. Sideabr Right

/* remove 'auto' and the width to switch to a fluid width */
#page {
  width: $page_width;
  margin: 0 auto;
  }
/* page height fills the screen and footer at the bottom */
body, #page {
  height:100%;

}
#main {
  padding-bottom: $footer_height;
  position: relative;
}
#footer {
  position: absolute;
  bottom: 0px;
  height:$footer_height;
  width: $page_width;
}
/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
  }
.sidebar {
  float: left;
  }
#sidebar-second {
  float: right;
  }
#footer {
  float: none;
  clear: both;
  }
/* Layout Helpers*/
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
  }
/* Sidebars width
  --------------

// Left value.*/
.two-sidebars,
.sidebar-first {
  .center {
    margin-left: percentage($first_sidebar_width / $page_width);
    }
  }
/* Left value & negative left value. */
#sidebar-first {
  width: percentage($first_sidebar_width / $page_width);
  margin-right: -$first_sidebar_width;
  }

.two-sidebars,
.sidebar-second {
  .center {
    margin-right: $second_sidebar_width;
    }
  }

/* Right value. */
#sidebar-second {
  width: $second_sidebar_width;
  }

/* Columns Inner
  -------------
  You can change the padding inside the columns without changing the
  width of them by just usinbg the INNER div of each column */
.inner {
  padding: 0;
  }

/* Navigation styles 
  -----------------
  The navigation is loaded after the content, so we need to make space
  for it, equal to its height, so if you change the height of the navigation,
  remember to adapt the margin top of the content and sidebars.
  */
#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
  height: $navigation_height;
  }

/* Navigation height. */
.with-navigation {
  #content,
  .sidebar {
    margin-top: $navigation_height;
    }
  }