/* Tabs CSS
   --------
   Adds styles for the primary and secondary tabs.
  
   Compare this with default CSS found in the system module's stylesheet (a copy
   of which is in drupal5-reference.css, line 510.)
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\000039}}
div.tabs {
  margin: 0 0 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000313}}
ul.primary, ul.secondary {
  width: 99%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000317}}
ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../images/tabs/tab-bar.png) repeat-x left bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000325}}
ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000330}}
ul.primary li.active a, ul.primary li.active a:hover {
  border-width: 0;
  color: black;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000335}}
ul.primary li.active a .tab, ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000340}}
ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px;
  border-width: 0;
  font-weigh: bold;
  text-decoration: none;
  color: #777777;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -38px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000351}}
ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -76px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000355}}
ul.primary li a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right -76px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000359}}
ul.primary li a .tab {
  display: block;
  height: 20px;
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(../images/tabs/tab-right.png) no-repeat right -38px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000372}}
ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid silver;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tabs/tab-secondary-bg.png) repeat-x left bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000379}}
ul.secondary li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000385}}
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  text-decoration: none;
  color: #777777;
  background: url(../images/tabs/tab-secondary.png) repeat-x left -56px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000394}}
ul.secondary a .active, ul.secondary a .active:hover {
  border: 1px solid silver;
  color: black;
  background: url(../images/tabs/tab-secondary.png) repeat-x left top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\0000399}}
ul.secondary a:hover {
  background: url(../images/tabs/tab-secondary.png) repeat-x left bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danlinn\/Sites\/playground\/drupal\/sites\/all\/themes\/boilerplate\/sass\/tabs\.scss}line{font-family:\00003102}}
ul.secondary a .tab {
  display: block;
  height: 18px;
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}
